
/*first page */
/* =====================================*/
html body {
  background-color: #f4f2f2;
  /**/
}
a {
  font-weight: bold;
}
.caret {
  position: relative;
  left: 15%;
}
input {
  width: 100%;
}
input[type=checkbox]{
 margin  : 0;
 padding : 0;
 opacity : 0;
}
#rand:checked ~ .modal-body label {
  background-color: #B496C8;
}
.promo-log {
  margin: 15px 0;
}
.sign {
  position: relative;
  right: 40%;
}
.spin {
  position: relative;
  right: 45%;
}
h3 {
  margin: auto;
}
@media screen and (max-width:767px) {
  nav .menu-btn {
    float: none;
    position: relative;
    left: 45%;
    border: none;
  }
}
